@media screen and (width<= 1200px) {
  .admin-container {
    overflow: auto;
  }


  .product-management {
    padding: 2rem;
  }
}

@media screen and (width<= 1100px) {
  .admin-container {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (width<= 600px) {
  .product-management {
    flex-direction: column;
    align-items: center;
    padding: 0;
    > section {
      max-width: 400px;
    }
  }

  .chart-container {
    padding: 0;
    > h1 {
      margin: 0;
      text-align: center;
    }
    > section {
      margin: 8rem auto;
    }
  }

  .dashboard-app-container > section {
    .coupon-form,
    .stopwatch {
      display: flex;
      flex-direction: column;
    }
    .stopwatch {
      align-items: center;
    }
  }
}
